@use '../colors';
@mixin basicTransition($duration: 0.3s) {
   transition: all $duration ease-out;
}

@mixin border($width: 1px, $t:$width, $r:$width, $b:$width, $l:$width, $color: colors.$border){
   border: $width solid $color;
   border-left-width: $l;
   border-right-width: $r;
   border-top-width: $t;
   border-bottom-width: $b;
}

@mixin box-shadow {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   }
}