$primary: hsl(45, 87%, 47%);
$primary-lighter: hsl(45, 87%, 57%);
$primary-darker: hsl(45, 87%, 37%);

$dark: hsl(0, 0%, 20%);
$darker: hsl(0, 0%, 6%);
$darkest: hsl(0, 0%, 2%);

$light: hsl(0, 0%, 85%);
$lighter: hsl(0, 0%, 95%);
$lightest: hsl(0, 0%, 100%);

$error: hsl(352, 79%, 47%);
$error-light: hsl(352, 79%, 67%);

$border: #00000011;

$text-light: hsl(0, 0%, 45%);