@use "../colors";
@use "../utils";

.flex-center {
   display: flex;
   align-items: center;
   gap: 5px;
}

.sub-section {
   margin: 1em 0;
}

.card {
   // @include utils.border;
   @include utils.box-shadow;
   padding: 1em;
   display: inline-block;
   border-radius: utils.$border-radius;
   background-color: colors.$lightest;
}

.note-card {
   // @include utils.border;
   @include utils.box-shadow;
   padding: 1em;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border-radius: utils.$border-radius;
   background-color: colors.$lightest;
   color: inherit;
   height: 9em;
   width: 7em;

   &:hover {
      color: inherit;
      transform: scale(1.1) translateY(-10%);
   }
}

.dropdown-menu {
   display: flex;
   flex-direction: column;
   gap: .2em;
   padding: .5em;
   font-size: .9rem;

   button {
      border: none;
      padding: .5em;
   }
}
